<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Without date formatting: {{.}}
With date formatting: {{fdateDMY .}}

{{/*
Without date formatting: 2018-04-13 19:36:50.3038917 +0800 CST m=+0.016000901
With date formatting: 13/04/2018

*/}}

</body>
</html>