<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul>
    <li>{{.Name}} - {{.Motto}}</li>

    {{/*
      <li>Adam - When&#39;s dinner?</li>

    */}}
</ul>
</body>
</html>