<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Predefined global functions</title>
</head>
<body>
Score1: {{.Score1}}
Score2: {{.Score2}}

    {{if gt .Score1 .Score2}}
        SCORE 1 > SCORE 2
    {{end}}

    {{if lt .Score1 .Score2}}
        SCORE 1 < SCORE 2
    {{end}}

    {{if eq .Score1 .Score2}}
        SCORE 1 == SCORE 2
    {{end}}

    {{if lt .Score1 10}}
        SCORE 1 < 10
    {{end}}


{{/*
Score1: 7
Score2: 9

        SCORE 1 < SCORE 2

        SCORE 1 < 10

*/}}
</body>
</html>