<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data 数据结构 for</title>
</head>
<body>
<ul>
{{range .}}
<li>{{.}}</li>
        {{end}}
</ul>

{{/*

	myFamily := map[string]string{
		"husband":  "Dazzie",
		"son":      "Adam",
		"daughter": "Hannah",
		"dog":      "Speckles"}


<li>Hannah</li>

<li>Speckles</li>

<li>Dazzie</li>

<li>Adam</li>

*/}}



</body>
</html>

