<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Family and cars</title>
</head>
<body>
<ul>
{{range .Family}}
    <li>{{.Name}} - {{.Motto}}</li>
{{end}}
</ul>
<ul>
{{range .Transport}}
    <li>{{.Manufacturer}} - {{.Model}} - {{.Doors}}</li>
{{end}}
</ul>

{{/*

<ul>

    <li>Adam - What's for dinner?</li>

    <li>Hannah - I have too much homework.</li>

    <li>Darren - Tea dear?</li>

    <li>Speckles - Pigeons on roof!</li>

</ul>
<ul>

    <li>Ford - F150 - 2</li>

    <li>Toyota - Corolla - 4</li>

</ul>


*/}}
</body>
</html>