<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data 数据结构 for</title>
</head>
<body>
<ul>
{{range $key, $val := .}}
    <li>{{$key}} ====  {{$val}}</li>
{{end}}
{{/*
      <li>daughter ====  Hannah</li>

    <li>dog ====  Speckles</li>

    <li>husband ====  Dazzie</li>

    <li>son ====  Adam</li>


    */}}

</ul>
</body>
</html>

