<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Functions</title>
</head>
<body>
<ul>
{{range .Family}}
    <li>
    {{uc .Name}}
    </li>
{{end}}
</ul>
<ul>
{{range .Family}}
    <li>
    {{ft .Name}}
    </li>
{{end}}
</ul>

{{/*
<ul>

    <li>
    ADAM
    </li>

    <li>
    HANNAH
    </li>

    <li>
    SPECKLES
    </li>

</ul>
<ul>

    <li>
    Ada
    </li>

    <li>
    Han
    </li>

    <li>
    Spe
    </li>

</ul>


*/}}

</body>
</html>