apiVersion: v1
clusters: []
contexts: []
current-context: ""
kind: Config
preferences: {}
users:
- name: def-admin-ns
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJrdWJlLXN5c3RlbSIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJhZG1pbi11c2VyLXRva2VuLWw4djYyIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImFkbWluLXVzZXIiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiIxNjhmNWY1Mi0xMTg3LTQ0OTQtODBiZS04NTU5NDc5ZThkYWIiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6a3ViZS1zeXN0ZW06YWRtaW4tdXNlciJ9.S0hgeWsbhOAX7y6_xMpxWc-2T4uKd62cSIvTnc9Ygp8P_eBhwpyxWpZkcteZ2oY6u8mxuns1g1A7LKt8JCmXO4vVfTLDugXT07eyTX5yeEcdVRfYkb5SFkXsw8Tz3EIn5MWKPIDhMXHYgW4ax3XfGCZEC2hhPXU4uqQB7S1ooZBA1wBK58P5mHDkdFiQOb5-EEDklstglSkzklSve6ZCFhhr_Y8T1qBK7B4aZQ6DcnJvAxFnYsnx65zbCkIFfa1fSDhROzrjGK2lUd26QpSq4Ry_Q8inoMNdwh41Xh9NY2_J9QloXm9zlLHevl9SDvNkGY8MFN82vbGHPuXSC3v03A
